{{template "base" .}}
{{define "main"}}
    <div id="delete-list">
        <div class="main">
            <p>Select the URLs you'd like to delete from your store below.</p>
        </div>
        <input type="checkbox" onClick="toggle(this)" style="margin-bottom: 20px"/>Select All<br/>
        {{range .}}
            <ul>
                <li><input type="checkbox" name="delete-box" value="{{.URL}}"><a href="{{.URL}}">{{.Host}}</a></li>
            </ul>
        {{end}}
        <button type="submit" onclick="del()" class="search-button" style="margin-top: 20px">delete</button>
    </div>
    <h3 id="deleted-title"></h3>
    <div id="deleted-results"></div>
{{end}}